.Solarized-Skin {
  background: #fdf6e3;
}


.Solarized-Skin,
.Solarized-Skin a,
.Solarized-Skin input,
.Solarized-Skin textarea,
.Solarized-Skin button {

  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 3vmax;  

  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.63);

}

.Solarized-Skin a {
  text-decoration: none;
  color: #268bd2;
}

.Solarized-Skin a:hover {
  text-decoration: underline;
}

.Solarized-Skin h1,
.Solarized-Skin h2,
.Solarized-Skin h3,
.Solarized-Skin h4,
.Solarized-Skin h5,
.Solarized-Skin h6 {
    /*background: black;*/
}

.Solarized-Skin h1 {
  font-size: 8vw;
}

.Solarized-Skin h2 {
  font-size: 5vmax;
}

.Solarized-Skin h3 {
  font-size: 4vmax;
}

.Solarized-Skin h4 {
  font-size: 2vmax;
}



.img-cover {
  background-repeat: no-repeat;
  background-size: cover!important;
  -webkit-filter: blur(0px);
}

.u-white {
  color: white;
}

.pad-v {
  padding: 5vmin;
}